gngt-admin-edit {
  display: block;

  > .mat-card {
    > [mat-card-header] {
      margin: -16px -16px 32px;
      padding: 16px;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

    > .mat-card-actions {
      text-align: right;
    }

    mat-radio-group {
      display: block;
      position: relative;
      padding: .4375em 0;
      border-top: .84375em solid transparent;

      > label {
        display: block;
        top: -.84375em;
        transform: scale(.75) perspective(100px) translateZ(.001px);
      }

      mat-radio-button {
        margin-right: 1em;
      }
    }
  }
}
