gngt-admin-edit {
  display: block;

  > .mat-card {
    > [mat-card-title] {
      display: flex;
      align-items: center;

      > h2 {
        flex: 1 0 auto;
        margin: 0;
      }
    }

    > .mat-card-actions {
      text-align: right;
    }

    mat-radio-group {
      display: block;
      position: relative;
      padding: 0.4375em 0;
      border-top: 0.84375em solid transparent;

      > label {
        display: block;
        top: -0.84375em;
        transform: scale(0.75) perspective(100px) translateZ(0.001px);
      }

      mat-radio-button {
        margin-right: 1em;
      }
    }
  }
}
