<mat-card *ngIf="form|async as editForm">
  <div *ngIf="title" mat-card-title>
    <h2>{{ title }}</h2>
    <span *ngIf="editForm.value['id']">#{{ editForm.value['id'] }}</span>
  </div>
  <mat-card-content>
    <form [formGroup]="editForm" [gngtFormDisabled]="loading|async">
      <ng-content select="[gngtAdminEditFormHeader]"></ng-content>
      <ng-container *ngFor="let field of fields">
        <div *ngIf="!field.hidden">
          <ng-container [ngSwitch]="field.type">
            <mat-form-field *ngSwitchCase="'input'">
              <input matInput [formControlName]="field.name" [type]="field.subtype || 'text'"
                  [placeholder]="field.label | translate" [readonly]="field.readonly">
            </mat-form-field>
            <mat-form-field *ngSwitchCase="'textarea'">
              <textarea matInput [formControlName]="field.name" [placeholder]="field.label | translate"></textarea>
            </mat-form-field>
            <div *ngSwitchCase="'checkbox'">
              <mat-checkbox [formControlName]="field.name">{{ field.label | translate }}</mat-checkbox>
            </div>
            <mat-radio-group *ngSwitchCase="'radio'" [formControlName]="field.name">
              <label class="mat-form-field-label">{{ field.label | translate }}</label>
              <mat-radio-button *ngFor="let choice of field.choices|async"
                  [value]="choice.value">{{ choice.label | translate }}</mat-radio-button>
            </mat-radio-group>
            <mat-form-field *ngSwitchCase="'select'">
              <mat-select [placeholder]="field.label | translate" [formControlName]="field.name">
                <mat-option *ngFor="let choice of field.choices|async"
                    [value]="choice.value">{{ choice.label | translate }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngSwitchCase="'multipleselect'">
              <mat-select [placeholder]="field.label | translate" [formControlName]="field.name" multiple>
                <mat-option *ngFor="let choice of field.choices|async"
                    [value]="choice.value">{{ choice.label | translate }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngSwitchCase="'autocomplete'">
              <input matInput [formControlName]="field.name" type="text"
                  [placeholder]="field.label | translate" [readonly]="field.readonly"
                  [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of field.choices|async"
                    [value]="option.value">{{ option.label | translate }}</mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </ng-container>
        </div>
      </ng-container>
      <ng-content select="[gngtAdminEditFormFooter]"></ng-content>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="!hideSaveButton" (click)="save()" [disabled]="(canSave === false) || !editForm.valid"
        mat-raised-button color="primary">{{ saveLabel | translate }}</button>
    <button (click)="goBack()" mat-raised-button color="warn">{{ cancelLabel | translate }}</button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar *ngIf="loading|async" mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
