<mat-card>
  <div mat-card-title>
    <h2>{{ title }}</h2>
    <button [routerLink]="baseEditUrl + newItemPath" mat-mini-fab color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <mat-card-content>
    <mat-toolbar>
      <div class="gngt-actions">
        <mat-select #actionSel [disabled]="!selection.hasValue()" [placeholder]="'Action' | transloco">
          <mat-option value="delete">{{ 'Delete' | transloco }}</mat-option>
        </mat-select>
        <span class="gngt-spacer"></span>
        <button mat-raised-button [disabled]="!actionSel.value"
            (click)="processAction(actionSel.value)">{{ 'Apply' | transloco }}</button>
      </div>
      <span class="gngt-filler"></span>
      <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
    </mat-toolbar>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td class="gngt-select" mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container *ngFor="let header of headers"
          [matColumnDef]="header.column">
          <ng-container *ngIf="header.sortable; else notSortable">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <ng-container *ngTemplateOutlet="cellTemplatesMap[header.label] ?
                cellTemplatesMap[header.label] : defaultHeaderCellTemplate;
                context: {$implicit: header.label | transloco}">
              </ng-container>
            </th>
          </ng-container>
          <ng-template #notSortable>
            <th mat-header-cell *matHeaderCellDef>
              <ng-container *ngTemplateOutlet="cellTemplatesMap[header.label] ?
                cellTemplatesMap[header.label] : defaultHeaderCellTemplate;
                context: {$implicit: header.label | transloco}">
              </ng-container>
            </th>
          </ng-template>
          <ng-template #defaultHeaderCellTemplate>
            {{ header.label | transloco }}
          </ng-template>
        <td [routerLink]="baseEditUrl + element.id" mat-cell *matCellDef="let element">
          <ng-container *ngTemplateOutlet="cellTemplatesMap[header.column] ?
            cellTemplatesMap[header.column] : defaultCellTemplate;
            context: {$implicit: element|gngtGetObjectProperty:header.column, item: element}">
          </ng-container>
          <ng-template #defaultCellTemplate>
            {{ element|gngtGetObjectProperty:header.column }}
          </ng-template>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
