gngt-admin-list {
  display: block;

  > .mat-card {
    > [mat-card-title] {
      display: flex;
      align-items: center;

      > h2 {
        flex: 1 0 auto;
        margin: 0;
      }
    }

    > .mat-card-content {
      > .mat-toolbar {
        margin: 1em 0;

        .gngt-spacer {
          flex: 0 0 0.5em;
        }

        .gngt-filler {
          flex: 1 1 auto;
        }

        .mat-paginator {
          background: transparent;
        }

        .gngt-actions {
          display: flex;
          align-items: center;

          > * {
            flex-shrink: 0;
          }
        }
      }

      table {
        width: 100%;

        td:not(.gngt-select) {
          cursor: pointer;
        }
      }
    }
  }
}
