# Gngt core
/src/core/*                                        @trik
/src/core/admin/*                                  @trik
/src/core/calendar/*                               @trik
/src/core/common/*                                 @trik
/src/core/auth/*                                   @trik
/src/core/model/*                                  @trik
/src/core/reducers/*                               @trik
/src/core/schematics/**                            @trik
/src/core/sync/*                                   @trik
/src/core/translations/*                           @trik

# Gngt material
/src/material/*                                    @trik
/src/material/admin/*                              @trik
/src/material/auth/*                               @trik
/src/material/calendar/*                           @trik
/src/material/model/*                              @trik
/src/material/reducers/*                           @trik
/src/material/schematics/**                        @trik

# Gngt ionic
/src/ionic/*                                       @trik
/src/ionic/admin/*                                 @trik
/src/ionic/auth/*                                  @trik
/src/ionic/calendar/*                              @trik
/src/ionic/common/*                                @trik
/src/ionic/model/*                                 @trik
/src/ionic/reducers/*                              @trik

# Docs examples & guides
/guides/**                                         @trik
/src/gngt-examples/**                              @trik

# Dev app
/src/dev-app/*                                    @trik
/src/dev-app/dev-app/**                           @trik
/src/dev-app/example/**                           @trik
/src/dev-app/examples-page/**                     @trik
/src/dev-app/ion-admin-edit/*                     @trik
/src/dev-app/ion-admin-list/*                     @trik
/src/dev-app/ion-login/*                          @trik
/src/dev-app/mat-admin-edit/*                     @trik
/src/dev-app/mat-admin-list/*                     @trik
/src/dev-app/mat-calendar/*                       @trik
/src/dev-app/mat-login/*                          @trik
/src/dev-app/sync/*                               @trik

# E2E app material
/src/e2e-app-mat/*                                 @trik
/src/e2e-app-mat/calendar/**                       @trik
/src/e2e-app-mat/e2e-app/**                        @trik
/src/e2e-app-mat/login/**                          @trik
/src/e2e-app-mat/example-viewer/**                 @trik

# E2E app ionic
/src/e2e-app-ion/*                                 @trik
/src/e2e-app-ion/calendar/**                       @trik
/src/e2e-app-ion/e2e-app/**                        @trik
/src/e2e-app-ion/login/**                          @trik
/src/e2e-app-ion/example-viewer/**                 @trik

# Universal app material
/src/universal-app-mat/**                          @trik

# Universal app ionic
/src/universal-app-ion/**                          @trik

# Tooling
/.circleci/**                                      @trik
/.jenkins/**                                       @trik
/.yarn/**                                          @trik
/scripts/**                                        @trik
/test/**                                           @trik
/tools/**                                          @trik

# Misc
/*                                                 @trik
/.github/**                                        @trik
/.vscode/**                                        @trik
/src/*                                             @trik
/goldens/ts-circular-deps.json                     @trik
