# Gngt core
/src/core/*                                        @trik
/src/core/admin/*                                  @trik
/src/core/common/*                                 @trik
/src/core/auth/*                                   @trik
/src/core/model/*                                  @trik
/src/core/reducers/*                               @trik
/src/core/translations/*                           @trik

# Gngt material
/src/material/*                                    @trik
/src/material/admin/*                              @trik
/src/material/auth/*                               @trik
/src/material/model/*                              @trik
/src/material/reducers/*                           @trik

# Gngt ionic
/src/ionic/*                                       @trik
/src/ionic/admin/*                                 @trik
/src/ionic/auth/*                                  @trik
/src/ionic/common/*                                @trik
/src/ionic/model/*                                 @trik
/src/ionic/reducers/*                              @trik

# Docs examples & guides
/guides/**                                         @trik
/src/material-examples/**                          @trik
/src/ionic-examples/**                             @trik

# Dev app material
/src/dev-app-mat/*                                @trik
/src/dev-app-mat/dev-app/**                      @trik
/src/dev-app-mat/example/**                       @trik
/src/dev-app-mat/examples-page/**                 @trik
/src/dev-app-mat/admin-edit/**                    @trik
/src/dev-app-mat/login/**                         @trik

# Dev app ionic
/src/dev-app-ion/*                                @trik
/src/dev-app-ion/dev-app/**                      @trik
/src/dev-app-ion/example/**                       @trik
/src/dev-app-ion/examples-page/**                 @trik
/src/dev-app-ion/admin-edit/**                    @trik
/src/dev-app-ion/login/**                         @trik

# E2E app material
/e2e-mat/*                                         @trik
/e2e-mat/components/login-e2e.spec.ts              @trik
/e2e-mat/util/**                                   @trik
/src/e2e-app-mat/*                                 @trik
/src/e2e-app-mat/e2e-app/**                        @trik
/src/e2e-app-mat/login/**                          @trik

# E2E app ionic
/e2e-ion/*                                         @trik
/e2e-ion/components/login-e2e.spec.ts              @trik
/e2e-ion/util/**                                   @trik
/src/e2e-app-ion/*                                 @trik
/src/e2e-app-ion/e2e-app/**                        @trik
/src/e2e-app-ion/login/**                          @trik

# Universal app material
/src/universal-app-mat/**                          @trik

# Universal app ionic
/src/universal-app-ion/**                          @trik

# Tooling
/.circleci/**                                      @trik
/scripts/**                                        @trik
/test/**                                           @trik
/tools/**                                          @trik

# Misc
/*                                                 @trik
/.github/**                                        @trik
/src/*                                             @trik
