<form
    [formGroup]="loginForm"
    [gngtFormDisabled]="disabled"
    class="login-form"
    (keyup.enter)="login()"
>
  <mat-form-field [appearance]="fieldsAppearance">
    <mat-label *ngIf="showLabels">
      <ng-content select="[gngtLoginUsername]"></ng-content>
    </mat-label>
    <input
        matInput
        [placeholder]="usernamePlaceholder"
        autocomplete="username"
        formControlName="username"
    >
  </mat-form-field>
  <mat-form-field [appearance]="fieldsAppearance">
    <mat-label *ngIf="showLabels">
      <ng-content select="[gngtLoginPassword]"></ng-content>
    </mat-label>
    <input
        matInput
        [placeholder]="passwordPlaceholder"
        type="password"
        autocomplete="current-password"
        formControlName="password"
    >
  </mat-form-field>
</form>
<div class="gngt-login-actions">
  <button
      mat-button
      translate color="primary"
      [disabled]="(valid|async) === false"
      (click)="login()"
  >
    <ng-content select="[gngtLoginAction]"></ng-content>
  </button>
</div>
