<mat-sidenav-container class="demo-container">
  <mat-sidenav #start role="navigation">
    <mat-expansion-panel *ngFor="let navGroup of navGroups" expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ navGroup.name }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a *ngFor="let navItem of navGroup.children"
          mat-list-item
          (click)="start.close()"
          routerLinkActive
          #routerLinkActiveInstance="routerLinkActive"
          [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1"
          [routerLink]="[navItem.route]">
          {{navItem.name}}
        </a>
      </mat-nav-list>
    </mat-expansion-panel>
    <button mat-button tabindex="-1" (click)="start.close()">CLOSE</button>
  </mat-sidenav>
  <main>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="start.open('mouse')">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="demo-toolbar">
        <h1>Gngt Demos</h1>
        <div>
          <button mat-icon-button (click)="toggleFullscreen()" title="Toggle fullscreen">
            <mat-icon>fullscreen</mat-icon>
          </button>
          <button mat-button (click)="dir.value = (dir.value === 'rtl' ? 'ltr' : 'rtl')"
                  title="Toggle between RTL and LTR">
            {{dir.value.toUpperCase()}}
          </button>
        </div>
      </div>
    </mat-toolbar>

    <div [attr.dir]="dir.value" class="demo-content mat-app-background">
      <ng-content></ng-content>
    </div>
  </main>
</mat-sidenav-container>
